# docker-compose.dev.yml
services:
  db:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=app_user
      - POSTGRES_PASSWORD=dev_password
      - POSTGRES_DB=mydb
    volumes:
      - db_data_dev:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  db_data_dev: # Volume séparé pour ne pas mélanger avec d'autres tests
