services:
  # --- BACKEND (API) ---
  api:
    image: ${IMAGE_NAME_API}
    restart: always
    networks:
      - web_network
      - default
    environment:
      # Config Générale
      - NODE_ENV=${NODE_ENV} # production ou preview (défini dans le .env généré)
      - PORT=3000

      # Database & Cache (Injectés depuis le .env généré)
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}

      # Sécurité & Auth (Les lignes qui manquaient !)
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
      - BETTER_AUTH_URL=${BETTER_AUTH_URL}
      - FRONTEND_URL=${FRONTEND_URL} # Pour le CORS

      # Emails (Interne Docker)
      - SMTP_HOST=mailpit
      - SMTP_PORT=1025
    labels:
      - "traefik.enable=true"
      # Router API
      - "traefik.http.routers.${SERVICE_NAME}-api.rule=Host(`${DOMAIN_NAME_API}`)"
      - "traefik.http.routers.${SERVICE_NAME}-api.entrypoints=websecure"
      - "traefik.http.routers.${SERVICE_NAME}-api.tls.certresolver=myresolver"
      - "traefik.http.services.${SERVICE_NAME}-api.loadbalancer.server.port=3000"
      # Rate Limit
      - "traefik.http.middlewares.limit-api.ratelimit.average=100"
      - "traefik.http.middlewares.limit-api.ratelimit.burst=50"
      - "traefik.http.routers.${SERVICE_NAME}-api.middlewares=limit-api"

  # --- FRONTEND (WEB) ---
  web:
    image: ${IMAGE_NAME_WEB}
    restart: always
    networks:
      - web_network
    labels:
      - "traefik.enable=true"
      # Router Web
      - "traefik.http.routers.${SERVICE_NAME}-web.rule=Host(`${DOMAIN_NAME_WEB}`)"
      - "traefik.http.routers.${SERVICE_NAME}-web.entrypoints=websecure"
      - "traefik.http.routers.${SERVICE_NAME}-web.tls.certresolver=myresolver"
      - "traefik.http.services.${SERVICE_NAME}-web.loadbalancer.server.port=80"

  # --- INFRA ---
  db:
    image: postgres:15-alpine
    restart: always
    networks:
      - default
    environment:
      - POSTGRES_USER=app_user
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=mydb
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    networks:
      - default

  db-backup:
    image: prodrigestivill/postgres-backup-local
    restart: always
    networks:
      - default
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=mydb
      - POSTGRES_USER=app_user
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - SCHEDULE=@daily
      - BACKUP_KEEP_DAYS=7
    volumes:
      - ./backups:/backups

  mailpit:
    image: axllent/mailpit
    restart: always
    networks:
      - web_network
      - default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${SERVICE_NAME}-mail.rule=Host(`emails.${DOMAIN_NAME_WEB}`)"
      - "traefik.http.routers.${SERVICE_NAME}-mail.entrypoints=websecure"
      - "traefik.http.routers.${SERVICE_NAME}-mail.tls.certresolver=myresolver"
      - "traefik.http.services.${SERVICE_NAME}-mail.loadbalancer.server.port=8025"
      - "traefik.http.middlewares.auth.basicauth.users=admin:$$apr1$$mTp02pz/$$JgD44iCfTvV5g6ORuzrJJ."
      - "traefik.http.routers.${SERVICE_NAME}-mail.middlewares=auth"

volumes:
  db_data:

networks:
  web_network:
    external: true
